<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moon Info</title>
	<link rel="stylesheet" href="style.css">
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" href="">
	<script defer>navigator.serviceWorker.register("./service-worker.js")</script>
</head>

<body class='space-y-6'>
	<h1 class='text-3xl font-bold underline'>Moon Info</h1>
	<div class="flex flex-wrap items-center gap-4">
		<div class="aspect-square moon {{phase}}"></div>
		<ul class='flex-none min-w-max'>
			{{{moonData}}}
		</ul>
	</div>
</body>

</html>
