@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #191970;
  --main-text-color: #fff;
  --moon-color: yellow;
  --moon-shadow-color: rgb(5, 2, 48);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: monospace;
}

.moon {
  position: relative;
  border-radius: 50%;
  background-color: var(--moon-color);
  overflow: hidden;

  &.waning-gibbous {
    background-color: var(--moon-shadow-color);

    &::after {
      content: ' ';
      position: absolute;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      left: -25%;
      background-color: var(--moon-color);
    }
  }

  &.third-quarter {
    background-color: var(--moon-color);

    &::after {
      content: ' ';
      position: absolute;
      height: 100%;
      width: 100%;
      right: -50%;
      background-color: var(--moon-shadow-color);
    }
  }

  &.waning-crescent {
    background-color: var(--moon-color);

    &::after {
      content: ' ';
      position: absolute;
      border-radius: 50%;
      height: 50%;
      width: 50%;
      right: -25%;
      background-color: var(--moon-shadow-color);
    }
  }

  &.new {
    background-color: var(--moon-shadow-color);
  }

  &.waxing-crescent::after {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    left: -25%;
    background-color: var(--moon-shadow-color);
  }

  &.first-quarter::after {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    left: -50%;
    background-color: var(--moon-shadow-color);
  }

  &.waxing-gibbous {
    background-color: var(--moon-shadow-color);

    &::after {
      content: ' ';
      position: absolute;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      right: -25%;
      background-color: var(--moon-color);
    }
  }
}
