@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #191970;
  --main-text-color: #fff;
  --moon-color: yellow;
  --moon-shadow-color: rgb(5, 2, 48);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: monospace;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 2px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 3px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 4px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 3px
    );
  background-size:
    550px 550px,
    350px 350px,
    250px 250px,
    150px 150px;
  background-position:
    0 0,
    40px 60px,
    130px 270px,
    70px 100px;
}

.moon {
  position: relative;
  border-radius: 50%;
  background-color: var(--moon-color);
  overflow: hidden;

  &.waning-gibbous {
    background-color: var(--moon-shadow-color);

    &::after {
      content: ' ';
      position: absolute;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      left: -25%;
      background-color: var(--moon-color);
    }
  }

  &.third-quarter {
    background-color: var(--moon-color);

    &::after {
      content: ' ';
      position: absolute;
      height: 100%;
      width: 100%;
      right: -50%;
      background-color: var(--moon-shadow-color);
    }
  }

  &.waning-crescent {
    background-color: var(--moon-color);

    &::after {
      content: ' ';
      position: absolute;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      right: -25%;
      background-color: var(--moon-shadow-color);
    }
  }

  &.new {
    background-color: var(--moon-shadow-color);
  }

  &.waxing-crescent::after {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    left: -25%;
    background-color: var(--moon-shadow-color);
  }

  &.first-quarter::after {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    left: -50%;
    background-color: var(--moon-shadow-color);
  }

  &.waxing-gibbous {
    background-color: var(--moon-shadow-color);

    &::after {
      content: ' ';
      position: absolute;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      right: -25%;
      background-color: var(--moon-color);
    }
  }
}
